<template>
  <div
    @click='plus'
  >
    <i
      class='fa fa-plus-circle'
      :class='["bg-"+background, "text-"+color]'
      >
    </i>
  </div>
</template>

<script>
export default {
  name: 'ButtonPlus',
  props: {
    color: {
      default:'success',
      type: String
    },
    background: {
      default: 'light',
      type: String
    }
  },
  methods: {
    plus: function() {
      this.$emit('plus');
    }
  }
};
</script>

<style>

</style>
